.container {
    /* overflow-x: hidden; */
    flex-wrap: wrap;
    flex-basis: 50%;
}

.spread-container {
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* align-items: center; */
    width: 100%;
    flex-direction: row;

}

/* .title-container{
    
} */

.body-container {
    display: flex;
    align-items: center;
    width: 60rem;
    margin-left: 20px;

}


.mini-container {
    width: 20rem;
    height: 20rem;
    border: 1px solid rgb(34, 120, 201);
    margin-top: 20px;
    text-align: center;
    background-color: #dae8fc;
    /* margin: auto; */
    flex-grow: 3;
    flex-basis: 100%;
}

.mini-container:hover {
    background-color: #d5e8d4;
}

.mini-container:visited {
    background-color: black;
}


.image {
    height: 70%;
    width: 70%;
    border-radius: 50%;
    display: inline-block;

}

.ballot-btn {

    /* margin: auto; */
    margin-top: 12px;
    background-color: #f5f5f5;
    width: 8rem;
    height: 2rem;
    border: 0.5px solid black;
}

.ballot-btn:active {
    background-image: linear-gradient(to right, #f5f5f5, #b3b3b3);
}

.title-container {
    color: #bac8d3;
}

.modal-container {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    background-color: #c5c5c54e;
    display: flex;
    justify-content: center;
    align-items: center;

}

.modal-subcontainer {
    width: 60%;
    height: 30rem;
    background-color: #ffffff;
    margin: auto;
    border: 1px solid black;

}

.modal-btn {
    margin-left: 85%;
    margin-top: 20px;
    background-color: white;
    border: none;
    font-size: 35px;
    
}

/* .container {
    color: #121212;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 50rem;
    margin: auto;
    margin-left: 10rem;
}

.mini-container {
    margin: auto;
    width: 15rem;
    height: 10rem;
    border: 1px solid black;
    margin-top: 15px;
    margin-left: 25px;
    /* background-color: #dae8fc; */
/* } */

/* .mini-container:hover{
    background-color: #d5e8d4;
} */


/* .mini {
    background-color: #dae8fc;
}



@media(max-width: 700px) {
    .mini-container {
        width: 50%;
    }

    .container {
        width: 95%;
    }

} */